anyio==4.2.0
    # via watchfiles
asgiref==3.7.2
    # via
    #   django
    #   django-cors-headers
click==8.1.7
    # via uvicorn
django==4.2.11
    # via
    #   django-cors-headers
    #   djangorestframework
    #   rotini (pyproject.toml)
django-cors-headers==4.3.1
    # via rotini (pyproject.toml)
djangorestframework==3.14.0
    # via rotini (pyproject.toml)
h11==0.14.0
    # via uvicorn
httptools==0.6.1
    # via uvicorn
idna==3.6
    # via anyio
psycopg2==2.9.9
    # via rotini (pyproject.toml)
pyjwt==2.8.0
    # via rotini (pyproject.toml)
python-dotenv==1.0.1
    # via uvicorn
python-multipart==0.0.7
    # via rotini (pyproject.toml)
pytz==2024.1
    # via djangorestframework
pyyaml==6.0.1
    # via uvicorn
sniffio==1.3.0
    # via anyio
sqlparse==0.4.4
    # via django
uvicorn[standard]==0.27.0
    # via rotini (pyproject.toml)
uvloop==0.19.0
    # via uvicorn
watchfiles==0.21.0
    # via uvicorn
websockets==12.0
    # via uvicorn
