anyio==4.2.0
    # via watchfiles
asgiref==3.7.2
    # via django
click==8.1.7
    # via uvicorn
django==4.2.8
    # via
    #   djangorestframework
    #   rotini (pyproject.toml)
djangorestframework==3.14.0
    # via rotini (pyproject.toml)
exceptiongroup==1.2.0
    # via anyio
h11==0.14.0
    # via uvicorn
httptools==0.6.1
    # via uvicorn
idna==3.6
    # via anyio
psycopg2==2.9.9
    # via rotini (pyproject.toml)
pyjwt==2.8.0
    # via rotini (pyproject.toml)
python-dotenv==1.0.0
    # via uvicorn
python-multipart==0.0.6
    # via rotini (pyproject.toml)
pytz==2023.3.post1
    # via djangorestframework
pyyaml==6.0.1
    # via uvicorn
sniffio==1.3.0
    # via anyio
sqlparse==0.4.4
    # via django
typing-extensions==4.9.0
    # via
    #   asgiref
    #   uvicorn
uvicorn[standard]==0.24.0.post1
    # via rotini (pyproject.toml)
uvloop==0.19.0
    # via uvicorn
watchfiles==0.21.0
    # via uvicorn
websockets==12.0
    # via uvicorn
